.card-details {
  background-color: var(--backgroundBlack);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;

  .card-details-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding: 50px;
    color: white;
    height: 80vh;
    width: 300px;
    margin: 0 auto;
    border-radius: 15px;
    border: 2px solid orange;

    .char-name {
      border-bottom: 2px solid orange
    }

    .char-img {
      width: 280px;
      border-radius: 15px;

    }

    .back-btn {
      color: orange;
      background-color: #5c5c5c;
      border: 1px solid orange;
      border-radius: 10px;
      outline: none;
      font-size: 18px;
      padding: 7px 35px;
      margin: 10px 0;
      &:hover {
        cursor: pointer;
        background-color: orange;
        color: white;
        transition: all 300ms ease;
      }
    }
  }
}
