.card-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: var(--backgroundBlack);
  padding-top: 45px;
  padding-bottom: 45px;
  color: white;

  .char-img {
    width: 400px;
    border-radius: 15px;
  }

  .back-btn {
    color: orange;
    background-color: rgb(92, 92, 92);
    height: 38px;
    width: 120px;
    border: 1px solid orange;
    border-radius: 10px;
    outline: none;
    font-size: 18px;

    &:hover {
      cursor: pointer;
      background-color: orange;
      color: white;
      transition: all 300ms ease;
    }
  }
}
